# dependências

pnpm-lock.yaml
package-lock.json
yarn.lock

# build
dist/
build/

# prisma
.prisma/
prisma/generated/

# logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# sistema
.DS_Store
Thumbs.db

sql
lixo

# editor
.vscode/
.idea/

# ambiente
.env
.env.local
.env.*.local

/node_modules
